.form-inputs .input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-inputs .input .boolean {
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
}
