<div class="container">
  <h1>Invoices</h1>

  <div>
    <table>
        <thead>
          <tr>
            <th>CNTR</th>
            <% @invoices.first.attributes.each do |attr_name, attr_value| %>
              <th><%= attr_name %></th>
            <% end %>
          </tr>
        </thead>
      <% @invoices.each do |invoice| %>
        <tbody>
          <tr>
              <th scope="row"><%= link_to invoice.CNTR, invoice_path(invoice.CNTR) %>
            <% invoice.attributes.each do |attr_name, attr_value| %>
              <td><%= attr_value %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
