<div class="container">
  <h1>Contracts</h1>

  <div>
    <table>
        <thead>
          <tr>
            <th>CNTR</th>
            <% @contracts.first.attributes.each do |attr_name, attr_value| %>
              <th><%= attr_name %></th>
            <% end %>
          </tr>
        </thead>
      <% @contracts.each do |contract| %>
        <tbody>
          <tr>
              <th scope="row"><%= link_to contract.CNTR, contract_path(contract.CNTR) %>
            <% contract.attributes.each do |attr_name, attr_value| %>
              <td><%= attr_value %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</div>
