<div id="page-loader" class="hidden fixed inset-0 bg-white bg-opacity-75 items-center justify-center z-50">
  <div class="flex flex-col items-center text-center">
    <div class="w-12 h-12 border-4 border-t-4 border-t-blue-500 border-gray-300 rounded-full animate-spin"></div>
    <p class="mt-2 font-bold text-gray-700">Loading, please wait...</p>
  </div>
</div>
