<div class="flex flex-col">
  <h1 class="text-3xl font-bold underline flex flex-col">
    Better Rentals
  </h1>

  <p>Contract num: <%= @contracts.last.CNTR %></p>
  <p>Customer name: <%= @contracts.last.customer.NAME %></p>
</div>
