<div class="flex flex-col mb-auto px-2 pt-5" id="main">
  <div class="flex" id="main-jobs">
    <%= link_to jobs_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        home_repair_service
      </span>
      <p class="text-xxs">jobs</p>
    <% end %>
    <div class="flex flex-col justify-center ml-2">
      <h2>Jobs</h2>
      <p>View jobs such as prehire checks</p>
    </div>
  </div>
  <div class="flex" id="main-contracts">
    <%= link_to contracts_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        description
      </span>
      <p class="text-xxs">contracts</p>
    <% end %>
    <div class="flex flex-col justify-center ml-2">
      <h2>Contracts</h2>
      <p>View, search, filter contracts</p>
    </div>
  </div>
  <div class="flex" id="main-transport">
    <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        local_shipping
      </span>
      <p class="text-xxs">del pu</p>
    <% end %>
    <div class="flex flex-col justify-center ml-2">
      <h2>Transport</h2>
      <p>View and complete deliveries, pickups</p>
    </div>
  </div>
  <div class="flex" id="main-messages">
  <%= link_to root_path, class: "border border-gray-800 rounded p-1 m-1 w-16 text-center" do %>
      <span class="material-symbols-outlined !text-4xl">
        forum
      </span>
      <p class="text-xxs">messages</p>
    <% end %>
    <div class="flex flex-col justify-center ml-2">
      <h2>Messages</h2>
      <p>View and send messages to branch</p>
    </div>
  </div>
</div>
