<div class="flex">
  <div class="border">
    Better Rentals
  </div>
  <div class="flex flex-col">
    <%= button_to "signout", destroy_user_session_path, method: :delete %>
    <%= button_to "settings", root_path %>
  </div>
</div>
