<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Contract PDF</h1>
    <p>Hello <%= @contract.customer.NAME %>,</p>
    <p>Please find your contract attached.</p>
    <p>Thank you for using our services!</p>
  </body>
</html>
